{% trans_default_domain 'ezplatform_content_forms_content' %}

{% use '@ibexadesign/ui/field_type/edit/binary_base.html.twig' %}

{%- block ezplatform_fieldtype_ezimageasset_row -%}
    {% set preview_block_name = 'ezimageasset_preview' %}
    {% set widget_container_block_name = 'ezplatform_fieldtype_ezimageasset_widget_container' %}
    {% set file_is_empty = not form.parent.vars.value.value.destinationContentId %}
    {% if destination_content is defined %}
        {% set file_is_empty = file_is_empty or not destination_content %}
    {% endif %}
    {% set max_file_size = form.vars.max_file_size %}
    {% set language_code = form.parent.vars.languageCode %}
    {% set attr = attr|merge({
        'data-max-file-size': max_file_size,
        'data-language-code': language_code,
        'accept': 'image/*'
    }) %}

    {{ block('binary_base_row') }}
{%- endblock -%}

{% block ezplatform_fieldtype_ezimageasset_widget_container %}
    <div class="ibexa-field-edit-spinner">
        <svg class="ibexa-icon ibexa-spin">
            <use xlink:href="{{ ibexa_icon_path('spinner') }}"></use>
        </svg>
    </div>
    <div{% with { attr: preview_attr } %}{{ block('attributes') }}{% endwith %}>
        {{ block(preview_block_name) }}
    </div>
    <div{% with { attr: widget_wrapper_attr } %}{{ block('attributes') }}{% endwith %}>
        <div class="ibexa-data-source">
            {{ block('ezplatform_fieldtype_ezimageasset_widget') }}
        </div>
    </div>
{% endblock %}

{% block ezplatform_fieldtype_ezimageasset_widget %}
    <div class="ibexa-data-source__message--main">
        {{ 'fieldtype.imageasset.drag_drop'|trans|raw|desc('Drag and drop image here or <br /><button class="ibexa-data-source__btn-add">Browse</button> to choose a file') }}
    </div>
    <div class="ibexa-data-source__message--separator">{{ 'fieldtype.binary_base.drag_drop.or'|trans|desc('or') }}</div>
    <div class="ibexa-data-source__actions">
        {{ block('ezimageasset_source_buttons') }}
    </div>
    {% if max_file_size is defined and max_file_size > 0 %}
        <div class="ibexa-data-source__message--filesize">
            {{ 'fieldtype.binary_base.max_file_size'|trans({'%size%': max_file_size|ibexa_file_size(2)})|desc('Max file size: %size%') }}
        </div>
    {% endif %}

    {{- form_widget(form.file, {'attr': attr}) -}}
    {{- form_widget(form.remove, {'attr': {
        'hidden': 'hidden',
        'class': 'ibexa-field-edit__option--remove-media'
    }, 'label_attr': {'hidden': 'hidden', 'class': 'checkbox-inline'}}) -}}
    {{- form_widget(form.destinationContentId, {'attr': {
        'class': 'ibexa-data-source__destination-content-id'
    }}) -}}
{% endblock %}

{% block ezimageasset_source_buttons %}
    <button class="btn ez-data-source__btn-add btn-secondary">
        {{ 'fieldtype.ezimageasset.upload.label'|trans|desc('Upload image') }}
    </button>
    <button
        class="btn ibexa-btn ibexa-btn--secondary ibexa-data-source__btn-select"
        data-udw-config="{{ ibexa_udw_config('image_asset', {}) }}"
    >
        {{ 'fieldtype.ezimageasset.select.label'|trans|desc('Select from library') }}
    </button>
{% endblock %}

{% block ezimageasset_preview %}
    {% form_theme form '@ibexadesign/ui/field_type/edit/binary_base_fields.html.twig' %}

    {% set destination_content_url = destination_content_url ?? '//:0' %}
    {% set destination_content_name = destination_content_name ?? '' %}
    {% set image_uri = image_uri ?? '' %}
    {% set additional_data = additional_data ?? null %}

    {% if destination_content is defined and destination_content is not null %}
        {% set destination_content_name = ibexa_content_name(destination_content) %}
        {% set destination_content_url = path('ibexa.content.view', {
            contentId: destination_content.id,
            locationId: destination_content.contentInfo.mainLocationId,
        }) %}

        {% set image_uri = ibexa_field_value(destination_content, ibexa_content_field_identifier_image_asset()).uri %}
        {% set additional_data = ibexa_field_value(destination_content, ibexa_content_field_identifier_image_asset()).additionalData %}
    {% endif %}

    {% set has_additional_data = additional_data is not null and additional_data is not empty %}

    <div class="ibexa-field-edit-preview">
        <div class="ibexa-field-edit-preview__visual" data-additional-data="{{ has_additional_data ? additional_data|json_encode(): '{}' }}">
            <div class="ibexa-field-edit-preview__media-wrapper">
                <div class="ibexa-field-edit-preview__actions">
                    <button
                        type="button"
                        class="ibexa-field-edit-preview__action--remove btn ibexa-btn ibexa-btn--ghost ibexa-btn--small"
                    >
                        <svg class="ibexa-icon ibexa-icon--small">
                            <use xlink:href="{{ ibexa_icon_path('trash') }}"></use>
                        </svg>
                        <span class="ibexa-btn__label">{{ 'fieldtype.ezimageasset.delete'|trans|desc('Delete') }}</span>
                    </button>
                    <a
                        class="ibexa-field-edit-preview__action--preview btn ibexa-btn ibexa-btn--ghost ibexa-btn--small"
                        href="{{ destination_content_url }}"
                        title="{{ 'fieldtype.ezimageasset.open'|trans|desc('Open') }}"
                        target="_blank"
                    >
                        <svg class="ibexa-icon ibexa-icon--small">
                            <use xlink:href="{{ ibexa_icon_path('open-newtab') }}"></use>
                        </svg>
                        <span class="ibexa-btn__label">{{ 'content.field_type.ezimage.preview'|trans|desc('Preview') }}</span>
                    </a>
                    {{ ibexa_render_component_group(
                        'image-edit-actions-after',
                        {
                            'fieldDefinitionIdentifier' : form.parent.vars.value.fieldDefinition.identifier,
                            'contentId' : app.request.get('contentId')
                        }
                    ) }}
                </div>
                <img
                    class="ibexa-field-edit-preview__media {{ image_uri ? '' : 'd-none' }}"
                    src="{{ image_uri|default('//:0') }}"
                    alt="{{ 'content.field_type.ezimageasset.img_alt'|trans({'%label%': form.vars.label})|desc("Image stored in Field '%label%'") }}"
                />
            </div>
            <div class="ibexa-field-edit-preview__details">
                <div class="ibexa-field-edit-preview__file-name-wrapper">
                    <label class="ibexa-label form-label">{{ 'content.field_type.ezimageasset.file_name.label'|trans|desc('File name') }}</label>
                    <p>
                        <a class="ibexa-field-edit-preview__file-name" href="{{ destination_content_url }}" target="_blank">
                            {{ destination_content_name }}
                        </a>
                    </p>
                </div>
            </div>
            <div class="ibexa-field-edit-preview__image-alt">
                {{ form_row(form.alternativeText) }}
            </div>
        </div>
    </div>
{% endblock %}
