{% trans_default_domain 'ezplatform_content_forms_content' %}

{% use '@ibexadesign/ui/field_type/edit/binary_base.html.twig' %}

{%- block ezplatform_fieldtype_ezimage_row -%}
    {% set preview_block_name = 'ezimage_preview' %}
    {% set max_file_size = min(form.parent.vars.value.fieldDefinition.validatorConfiguration.FileSizeValidator.maxFileSize * 1024 * 1024, max_upload_size|round) %}
    {% set attr = attr|merge({'accept': 'image/*'}) %}
    {% if form.parent.parent.parent.vars.value.contentDraft.versionInfo is defined and form.parent.vars.value.field.value.imageId is not null %}
    {% set imageAlias = ez_image_alias(form.parent.vars.value.field, form.parent.parent.parent.vars.value.contentDraft.versionInfo, 'original' ) %}
    {% endif %}
    {% set src = imageAlias is defined and imageAlias ? asset( imageAlias.uri ) : "//:0" %}
    {{ block('binary_base_row') }}
{%- endblock -%}

{% block ezimage_preview %}
    {% form_theme form '@ibexadesign/ui/field_type/edit/binary_base_fields.html.twig' %}

    <div class="ibexa-field-edit-preview">
        <div class="ibexa-field-edit-preview__visual">
            <div class="ibexa-field-edit-preview__media-wrapper">
                <div class="ibexa-field-edit-preview__actions">
                    <button
                        type="button"
                        class="ibexa-field-edit-preview__action ibexa-field-edit-preview__action--remove btn ibexa-btn ibexa-btn--ghost ibexa-btn--small"
                    >
                        <svg class="ibexa-icon ibexa-icon--small">
                            <use xlink:href="{{ ibexa_icon_path('trash') }}"></use>
                        </svg>
                        <span class="ibexa-btn__label">{{ 'content.field_type.ezimage.delete'|trans|desc('Delete') }}</span>
                    </button>
                    <a
                        class="ibexa-field-edit-preview__action ibexa-field-edit-preview__action--preview btn ibexa-btn ibexa-btn--ghost ibexa-btn--small"
                        href="{{ form.parent.vars.value.value.uri }}"
                        target="_blank"
                    >
                        <svg class="ibexa-icon ibexa-icon--small">
                            <use xlink:href="{{ ibexa_icon_path('open-newtab') }}"></use>
                        </svg>
                        <span class="ibexa-btn__label">{{ 'content.field_type.ezimage.preview'|trans|desc('Preview') }}</span>
                    </a>
                    {{ ibexa_render_component_group(
                        'image-edit-actions-after',
                        {
                            'fieldDefinitionIdentifier' : form.parent.vars.value.fieldDefinition.identifier,
                            'contentId' : app.request.get('contentId')
                        }
                    ) }}
                </div>
                <img
                    class="ibexa-field-edit-preview__media"
                    src="{{ src }}"
                    alt="{{ 'content.field_type.ezimage.img_alt'|trans({'%label%': form.vars.label})|desc("Image stored in Field '%label%'") }}"
                />
            </div>
            <div class="ibexa-field-edit-preview__details">
                <div class="ibexa-field-edit-preview__file-name-wrapper">
                    <label class="ibexa-label form-label">{{ 'content.field_type.ezimage.file_name.label'|trans|desc('File name') }}</label>
                    <p class="ibexa-field-edit-preview__file-name">{{ form.parent.vars.value.value.fileName }}</p>
                </div>
                <div class="ibexa-field-edit-preview__dimensions-wrapper">
                    <label class="ibexa-label form-label">{{ 'content.field_type.ezimage.dimensions.label'|trans|desc('Master dimension') }}</label>
                    <p>
                        <span class="ibexa-field-edit-preview__dimension ibexa-field-edit-preview__dimension--width">
                            {{ 'content.field_type.ezimage.dimensions.width'|trans({ '%width%': form.parent.vars.value.value.width})|desc('W:%width% px') }}
                        </span>
                        <span class="ibexa-field-edit-preview__dimension ibexa-field-edit-preview__dimension--height">
                            {{ 'content.field_type.ezimage.dimensions.height'|trans({ '%height%': form.parent.vars.value.value.height})|desc('H:%height% px') }}
                        </span>
                    </p>
                </div>
                <div class="ibexa-field-edit-preview__file-size-wrapper">
                    <label class="ibexa-label form-label">{{ 'content.field_type.ezimage.file_size.label'|trans|desc('Size') }}</label>
                    <p class="ibexa-field-edit-preview__file-size">{{ form.parent.vars.value.value.fileSize|ibexa_file_size(2) }}</p>
                </div>
            </div>
            <div class="ibexa-field-edit-preview__image-alt">
                {% set alternative_text_label_class = form.vars.is_alternative_text_required ? 'required' : '' %}
                {{ form_row(form.alternativeText, {
                    attr: { 'data-is-required': form.vars.is_alternative_text_required },
                    label_attr: { 'class': alternative_text_label_class }
                }) }}
            </div>
            {{ form_widget(form.additionalData, {attr: {class: 'ibexa-field-edit-preview__additional-data'}}) }}
        </div>
    </div>
{% endblock %}
